html { width: 100%; }
body {
  width: 100%;
  background: #eee;
  font-family: "Myriad Pro";
}

h1 {
  text-transform: uppercase;
  font-style: italic;
  font-size: 19px;
}

.content {
  max-width: 1200px;
  margin: 40px auto 0;
  padding: 0 20px;
}

.toggle-link {
  display: inline-block;
  margin: 1em 0;
  padding: 8px 11px 7px;
  color: white;
  background: #333;
  text-decoration: none;
  border-radius: 3px;
}
.toggle-link:hover {
  background: black;
}

.frame-container {
  position: relative;
  margin: 0 -4px;
  border: 4px solid black;
  border-radius: 3px;
  padding-bottom: 65%;
  height: 0;
  /*background: #222;
  background-image: -webkit-linear-gradient(top, transparent, transparent 4px, #2c2c2c 4px), -webkit-linear-gradient(left, transparent, transparent 4px, #2c2c2c 4px); */
  background-size: 5px 5px;
  pointer-events: none;
}

iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: padding 2.4s linear;
}
.frame-container.desktop iframe {
  padding-right: 0;
}
.frame-container.ipad-h iframe {
  padding-right: 176px;
}
.frame-container.ipad-v iframe {
  padding-right: 432px;
}
.frame-container.iphone iframe {
  padding-right: 880px;
}
